sudo: required

services:
  - docker

before_install:
  - docker build -t creativegroup/cg_test .

script:
  - docker run creativegroup/cg_test ls

after_success:
   - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
   - docker push creativegroup/cg_test
   - sudo apt-get install python3.4
   - curl -O https://bootstrap.pypa.io/get-pip.py
   - python3 get-pip.py --user
   - export PATH=LOCAL_PATH:$PATH
   - pip install awsebcli --upgrade --user
#   - eb --version
#   - eb create --quiet
   - eb use $ELASTIC_BEANSTALK_ENVIRONMENT
   - eb setenv SECRET_KEY_BASE=$SECRET_KEY_BASE RAILS_ENV=production PASSENGER_APP_ENV=production
   - eb deploy --quiet --staged


#deploy:
#  provider: elasticbeanstalk
#  access_key_id: $ELASTIC_BEANSTALK_ACCESS_KEY_ID
#  secret_access_key:
#    secure: $ELASTIC_BEANSTALK_SECRET_ACCESS_KEY
#  region: "eu-central-1"
#  app: "cg_test"
#  env: "cg_test_env"
#  bucket_name: "cg-elasticbeanstalk"

notifications:
  email:
    - pieter@cg.nl